<!doctype html>
<html lang="en" ng-app="nmeter">
<head>
  <meta charset="utf-8">
  <title>My AngularJS App</title>
  <link rel="stylesheet" href="css/app.css"/>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <script src="js/underscore.js"></script>
</head>
<body>
  <div class="graphs" ng-controller="LatencyCtrl">
    <ul class="nav nav-tabs">
      <li ng-repeat="environment in environments" ng-click="setActiveEnv(environment)" ng-class="(environment.active == true)?'active':'';"><a>{{environment.env}}</a></li>
    </ul>


<div ng-show="environment.active == true" ng-repeat="environment in environments" class="test-panel" >
      <div class="title" ng-init="expand=true" ng-click="expand=(!expand)">Versions</div>
      <div class="table-container" ng-class="(expand== true)?'animated':'';">
      <table>
        <thead>
          <tr class="table-header">
            <th></th>
            <th class="accounts-table-header-row">Friendly Name</th>
            <th class="accounts-table-header-row">Version</th>
            <th class="accounts-table-header-row">Enabled</th>
            <th></th>
          </tr>
        </thead>
      </table>

      <div class="cont">
        <table>
          <tbody>
            <tr ng-repeat="version in versions | filter:environment.env">
              <td><div  class="btn btn-danger btn-xs btn-remove" ng-click="$event.stopPropagation(); removeVersion(version)"><i class="fa fa-trash-o"></i></div></td>
              <td><input type="text" class="test-input" ng-model="version.name" ng-change="compareVersion(version)"></td>
              <td><input type="text" class="test-input" ng-model="version.version" ng-change="compareVersion(version)"></td>
              <td><input type="checkbox" class="test-input" ng-model="version.enabled" ng-change="compareVersion(version)" style=" position: relative; top: -9px; left: 16px; "></td>
              <td><div ng-show="version.change == true" class="btn_save action-button" ng-click="$event.stopPropagation(); saveVersion(version)" style="margin-left:24px;"><i class="fa fa-floppy-o"></i></div></td>
            </tr>
          </tbody>
        </table>
        <div class="add-new" ng-click="addVersion(environment.env)"><!-- <i class="fa fa-plus"></i> -->Add New Version</div>
      </div>
    </div>
    </div>


    
    <div ng-show="environment.active == true" ng-repeat="environment in environments" class="test-panel">
      <div class="title" ng-click="expand=(!expand)">Accounts</div>
      <div class="table-container" ng-class="(expand== true)?'animated':'';">
        <table style=" width: 649px; /* margin-left: 0px; */ ">
          <thead>
            <tr class="table-header">
              <th></th>
              <th class="accounts-table-header-row">Username</th>
              <th class="accounts-table-header-row">Role</th>
              <th class="accounts-table-header-row">Password</th>
              <th></th>
            </tr>
          </thead>
        </table>
      <div class="cont">
        <table>
          <tbody class="cont">
            <tr ng-repeat="account in accounts | filter:environment.env">
              <td><div  class="btn btn-danger btn-xs btn-remove" ng-click="$event.stopPropagation(); removeAccount(account)"><i class="fa fa-trash-o"></i></div></td>
              <td><input type="text" class="test-input" ng-model="account.user" ng-change="compareAccount(account)"></td>
              <td><input type="text" class="test-input" ng-model="account.role" ng-change="compareAccount(account)"></td>
              <td><input type="password" class="test-input" ng-model="account.pass" ng-change="compareAccount(account)"></td>
              <td><div ng-show="account.change == true" class="btn_save action-button" ng-click="$event.stopPropagation(); saveAccount(account)"><i class="fa fa-floppy-o"></i></div></td>
            </tr>
          </tbody>
        </table>
          <div class="add-new" ng-click="addAccount(environment.env)"><!-- <i class="fa fa-plus"></i> -->Add New Account</div>
      </div>
    </div>
    </div>


    

    <div ng-show="environment.active == true" ng-repeat="environment in environments" class="test-panel">
      <div class="title" ng-click="expand=(!expand)">Properties</div>
      <div class="table-container" ng-class="(expand== true)?'animated':'';">
      <table>
        <thead>
          <tr class="table-header">
            <th></th>
            <th class="accounts-table-header-row">Key</th>
            <th class="accounts-table-header-row">Value</th>
            <th></th>
          </tr>
        </thead>
      </table>

      <div class="cont">
        <table>
          <tbody>
            <tr ng-repeat="prop in properties | filter:environment.env">
              <td><div  class="btn btn-danger btn-xs btn-remove" ng-click="$event.stopPropagation(); removeProperty(prop)"><i class="fa fa-trash-o"></i></div></td>
              <td><input type="text" class="test-input" ng-model="prop.key" ng-change="compareProperty(prop)"></td>
              <td><input type="text" class="test-input" ng-model="prop.value" ng-change="compareProperty(prop)"></td>
              <td><div ng-show="prop.change == true" class="btn_save action-button" ng-click="$event.stopPropagation(); saveProperty(prop)" style="margin-left:24px;"><i class="fa fa-floppy-o"></i></div></td>
            </tr>
          </tbody>
        </table>
        <div class="add-new" ng-click="addProperty(environment.env)"><!-- <i class="fa fa-plus"></i> -->Add New Property</div>
      </div>
    </div>
    </div>

  </div>
 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular/angular-route.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
  
  <script src="http://code.highcharts.com/stock/highstock.js"></script>
  <script src="http://code.highcharts.com/stock/modules/exporting.js"></script>

</body>
</html>
